<div class="center-details">
    <div class="vertical-center">
      <img class="center" src="assets/images/login.gif" width="70px" height="80px" />
  
      <form #loginform="ngForm" class="mb-4" autocomplete="off" (submit)="onSubmit(loginform)">
  
        <div class="form-group">
          <label for="userNameInfo" class="col-sm-4 col-form-label">User Name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" aria-describedby="basic-addon3"
              #userName="ngModel" name="userName" id="userNameInfo" [(ngModel)]="formModel.userName" required minlength="4" />
          </div>
          <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert">
            <div *ngIf="userName.errors?.['required']">User Name is required.</div>
            <div *ngIf="userName.errors?.['minlength']">User Name must be at least 4 characters long.</div>
          </div>
        </div>
        <br />
        <br />
  
  
        <div class="form-group">
          <label for="passwordInfo" class="col-sm-4 col-form-label">Password</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" aria-describedby="basic-addon3"
              #password="ngModel" name="password" id="passwordInfo" [(ngModel)]="formModel.password" required minlength="6" />
          </div>
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
            <div *ngIf="password.errors?.['required']">password is required.</div>
            <div *ngIf="password.errors?.['minlength']">Invalid password.</div>
          </div>
  
        </div>
        <br />
  
  
        <hr />
        <div class="form-row">
          <div class="d-grid gap-2">
            <button type="submit" [disabled]="loginform.invalid" class="btn btn-primary btn-lg btn-block">
              Login
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  