<div class="row">
    <div class="mt-5 col-md-8 offset-2">
      <p><b>Create/ Add New Booking</b></p>
      <form #bookingForm="ngForm" (ngSubmit)="onSubmit(bookingForm)">
        <div class="form-group" required>
          <label>Check-in Date</label>
          <input type="date" class="form-control" ngModel name="checkinDate" id="checkinDate" [(ngModel)]="booking.checkinDate" required />
        </div>
  
        <div class="form-group" required>
          <label>Check-out Date</label>
          <input type="date" class="form-control" ngModel name="checkoutDate" id="checkoutDate" [(ngModel)]="booking.checkoutDate" required />
        </div>
  
        <div class="form-group" required>
          <label>Guest Username</label>
          <input type="text" class="form-control" ngModel name="guestUsername" id="guestUsername" [(ngModel)]="booking.guestUsername" required />
        </div>
  
        <div class="form-group" required>
          <label>Room Number</label>
          <input type="number" class="form-control" ngModel name="roomNumber" id="roomNumber" [(ngModel)]="booking.roomNumber" required />
        </div>
  
        <hr />
        <div class="form-row">
          <div class="d-grid gap-2">
            <button type="submit" [disabled]="bookingForm.invalid" class="btn btn-primary btn-lg btn-block">
              Add New Booking
            </button>
          </div>
        </div>
      </form>
  
      <p class="center-details">
        <button routerLink="/guest/viewrooms" type="button" class="btn btn-danger">Cancel - Go Back to List</button>
      </p>
    </div>
  </div>
  