<section>
    <div class="container">
      <div class="guest-main">
        <div class="wrapped-div">
          <div class="row">
            <div class="col-md-4">
              <!-- <h3 routerLink="/guest/viewrooms" routerLinkActive="active">All Rooms</h3> -->
              <h3 routerLink="/guest/viewrooms" routerLinkActive="active">All Rooms</h3>

            </div>
            <div class="col-md-3">
              <p>&nbsp;&nbsp;</p>
            </div>
            <div class="col-md-4">
                <!-- <h3 routerLink="/guest/viewrooms" routerLinkActive="active">My Bookings</h3>

              <h3 routerLink="/guest/viewrooms" routerLinkActive="active">My Bookings</h3> -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  