body {
    background-image: url('/assets/images/indexback.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.main-header {
    background-color: rgba(95, 158, 160, 0.8);
}

.main-header .logo {
    width: 100px;
}

#logo {
    width: 150px;
    height: 60px;
    padding: 0px 30px 15px 0px;
}

.navbar-nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-header,
.topnav-right {
    display: flex;
    align-items: center;
}

.d-flex {
    display: flex !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.align-items-center {
    align-items: center !important;
}

.navbar-brand {
    margin-left: 10px;
}

.navbar {
    background-color: rgb(57, 142, 148) !important;
}
